.menu 
{
    position: fixed;
    right: 5%;
    top: 5%;
}
.gamefield
{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 60px;
}
.gamefield .field
{
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    border: 5px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 0px;
}
.gamefield .playable-area
{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}